---
import logo from '../../images/logo.svg'
import { Image } from 'astro:assets';
import facebook from '../../icons/socials/Facebook.svg'
import instagram from '../../icons/socials/Instagram.svg'
import linkedin from '../../icons/socials/LinkedIn.svg'
import twitter from '../../icons/socials/Twitter.svg'
import youtube from '../../icons/socials/YouTube.svg'
import emailIcon from '../../icons/Email.svg'
import phoneIcon from '../../icons/Phone.svg'
import linkIcon from '../icons/linkIcon.svg'
import locationIcon from '../../icons/LocationWhite.svg'
import Text from '../system/Text.astro'
import Constrain from '../system/Constrain.astro'
import theDotStudioLogo from '../../images/theDotStudioLogo.svg'


---
<div
  class='w-full pt-12 flex flex-col items-center'
  style={{
    background: 'black'
    // background: `linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(${footerBG})`,
    // backgroundAttachment: 'fixed',
    // backgroundPosition: 'center 200px',
    // backgroundRepeat: 'no-repeat',
    // backgroundSize: 'cover'
}}>
  <div class='w-full px-16 max-md:px-6'>
    <Constrain class="flex flex-row max-md:flex-col justify-between">
      <div>
        <Image src={logo} alt="Glentree's Logo" class="w-32 h-auto self-start" />
        <div class='flex flex-row mt-6'>
          <a target="_blank" href="https://www.facebook.com/glentreeacademy" class='mr-5'>
            <div class='h-[19px]'>
              <img src={facebook.src} alt="Facebook Icon" class="w-full h-full">
            </div>
          </a>
  
          <a target="_blank" href="https://twitter.com/GlentreeAcademy" class='mr-5'>
            <div class='h-[19px]'>
              <img src={twitter.src} alt="Twitter Icon" class="w-full h-full">
            </div>
          </a>
  
          <a target="_blank" href="https://www.instagram.com/glentreeacademyofficial/" class='mr-5'>
            <div class='h-[19px]'>
              <img src={instagram.src} alt="Instagram Icon" class="w-full h-full">
            </div>
          </a>
  
          <a target="_blank" href="https://www.linkedin.com/company/glentreeacademy/" class='mr-5'>
            <div class='h-[19px]'>
              <img src={linkedin.src} alt="Linkedin Icon" class="w-full h-full">
            </div>
          </a>
  
          <a target="_blank" href="https://www.youtube.com/channel/UCaO_30stUpRzaz5FH1uHWJg" class='mr-5'>
            <div class='h-[19px]'>
              <img src={youtube.src} alt="Youtube Icon" class="w-full h-full">
            </div>
          </a>
  
  
        </div>
      </div>
  
      <div class='flex flex-row gap-6 max-md:gap-0 max-md:flex-col'>
        
        
        <div class='max-md:mt-8 max-md:mb-5 max-w-[325px]'>
          <Text type={'xs'} class='text-white/50 !text-[18px] max-md:!text-[16px] uppercase tracking-[2.4px] mb-7 max-md:mb-3 font-semibold'>Campuses</Text>
  
          <div class='flex flex-row items-center mb-3'>
            <a target='_blank' href="/glentree-whitefield" class="hover:underline">
              <Text type={'2xs'}>Whitefield</Text>
            </a>
          </div>
  
          <div class='flex flex-row items-start mb-3  opacity-70'>
            <div class='w-5 flex-shrink-0'>
              <Image src={phoneIcon} alt="Phone Icon" class="w-full h-full">
            </div>
            <a target='_blank' href='tel:+917899738130' class="hover:underline"><Text type={'2xs'} class='ml-2'>+91 7899738130</Text></a>
          </div>
  
          <div class='flex flex-row items-center mb-3'>
            <a target='_blank' href='/glentree-sarjapur' class="hover:underline"><Text type={'2xs'}>Sarjapur Road</Text></a>
          </div>

          <div class='flex flex-row items-start mb-3  opacity-70'>
            <div class='w-5 flex-shrink-0'>
              <Image src={phoneIcon} alt="Phone Icon" class="w-full h-full">
            </div>
            <a target='_blank' href='tel:+919632104368' class="hover:underline"><Text type={'2xs'} class='ml-2'>+91 9632104368</Text></a>
          </div>

          <div class='flex flex-row items-center mb-3'>
            <a target='_blank' href='/glentree-bannerghatta' class="hover:underline"><Text type={'2xs'}>Bannerghatta Road</Text></a>
          </div>

          <div class='flex flex-row items-start mb-3  opacity-70'>
            <div class='w-5 flex-shrink-0'>
              <Image src={phoneIcon} alt="Phone Icon" class="w-full h-full">
            </div>
            <a target='_blank' href='tel:+918105826950' class="hover:underline"><Text type={'2xs'} class='ml-2'>+91 8105826950</Text></a>
          </div>

        </div>
        <div class="bg-white/20 w-[1px] h-full max-md:h-[1px] max-md:w-full"></div>
        <div class='max-md:mt-8 max-md:mb-5 max-w-[325px]'>
          <Text type={'xs'} class='text-white/50 !text-[18px] max-md:!text-[16px] uppercase tracking-[2.4px] mb-7 max-md:mb-3 font-semibold'>Head Office</Text>
  
          <div class='flex flex-row items-start mb-3'>
            <div class='w-5 flex-shrink-0'>
              <Image src={phoneIcon} alt="Phone Icon" class="w-full h-full">
            </div>
            <a target='_blank' href='tel:+918105343142' class="hover:underline"><Text type={'2xs'} class='ml-2'>+91 8105343142</Text></a>
  
          </div>

          <div class='flex flex-row items-start mb-3'>
            <div class='w-5 flex-shrink-0 pt-2'>
              <Image src={locationIcon} alt="Location Icon" class="w-full h-full">
            </div>
            <a target='_blank' href='https://maps.app.goo.gl/ZvmXugorLGGd3T4J9' class="hover:underline"><Text type={'2xs'} class='ml-2'>First Floor, 1215, 75/2, Bellandur Main Rd, next to Little Elly Pre-school, opposite toTrinity Meadows Apartment Complex,  Bellandur, Bengaluru, Karnataka 560103</Text></a>
  
          </div>

        </div>
        <div class="bg-white/20 w-[1px] h-full max-md:h-[1px] max-md:w-full"></div>

        <div class='max-md:mt-8 max-md:mb-5 max-w-[325px]'>
          <Text type={'xs'} class='text-white/50 !text-[18px] max-md:!text-[16px] uppercase tracking-[2.4px] mb-7 max-md:mb-3 font-semibold'>Apply Now</Text>


          <div class='flex flex-row items-center mb-3'>
            <div class='w-5 flex-shrink-0'>
              <Image src={emailIcon} alt="Email Icon" class="w-full h-full">
            </div>
            <a target='_blank' href="mailto:admission.wf@glentreeacademy.coms" class="hover:underline">
              <Text type={'2xs'} class='ml-2'>admission@glentreeacademy.com</Text>
            </a>
          </div>
  
          <div class='flex flex-row items-center mb-3'>
            <div class='w-5'>
              <Image src={phoneIcon} alt="Phone Icon" class="w-full h-full">
            </div>
            <a target='_blank' href='tel:+917676310000' class="hover:underline"><Text type={'2xs'} class='ml-2'>+91 7676310000</Text></a>
  
          </div>

          <div class='flex flex-row items-center mb-3 '>
            <div class='w-5 flex-shrink-0'>
              <Image src={linkIcon} alt="Email Icon" class="w-full h-full">
            </div>

            <a target='_blank' href="/admissions" class="hover:underline ml-2">
              <Text type={'2xs'}>Admission Process</Text>
            </a>
          </div>
  
          <div class='flex flex-row items-center mb-3'>
            <div class='w-5 flex-shrink-0'>
              <Image src={linkIcon} alt="Email Icon" class="w-full h-full">
            </div>
            <a target='_blank' href='/scholarship' class="hover:underline ml-2"><Text type={'2xs'}>Scholarship</Text></a>
          </div>

        </div>
      </div>
    </Constrain>
  </div>

  <div class='w-full h-[1px] bg-gray-500/40 mt-12 max-md:mt-5 max-md:w-[85%]'></div>

  <div class='py-6 font-normal px-16 w-full  max-md:px-6 text-center'>
    <Constrain class="flex flex-row max-md:flex-col items-center justify-between">
      <div class="flex flex-row items-center max-md:flex-col">
        <Text type={'2xs'}>
          Copyright © 2024 &nbsp;
        </Text>
        <Text type={'2xs'}>
          <span class="max-md:hidden">{' • '}</span> Mandatory CBSE Public Disclosure: 
          <br class="hidden max-md:block" />
          <a 
            href="/mandatory-public-disclosure-whitefield" 
            class="underline"
          >Whitefield</a>
          <span>{' | '}</span>
          <a 
            href="/mandatory-public-disclosure-sarjapur"
            class="underline"
          >Sarjapur</a>
        </Text>
        <Text type={'2xs'} class="ml-1 max-md:ml-0">
          <span class="max-md:hidden">{' • '}</span>
          <a 
            href="/privacy-policy" 
            class="underline"
          >Privacy Policy</a>
        </Text>
      </div>
      <div class="max-md:pt-3 pt-0"></div>
      <div>
        <a href="https://thedotstudio.in/" target="_blank">
          <Image src={theDotStudioLogo} class="w-[250px] max-md:w-[200px]" alt={"The Dot Studio Logo"} />
        </a>
      </div>
    </Constrain>
  </div>
</div>