---
import Text from "../system/Text.astro";
import littleEllyLogo from '../../images/littleEllyLogo.png'
import letterAcademyLogo from '../../images/letterAcademyLogo.png'
import ellyChildCareLogo from '../../images/ellyChildCareLogo.png'
import { Image } from 'astro:assets';
import {marked} from 'marked'
const {treeData ,header} = Astro.props
const heading = marked.parse(header)
const headingHTML = heading.replaceAll('&lt;','<').replaceAll('&gt;','>')



---
<div class='px-20 pt-14 max-md:px-4 max-md:pt-14 pb-9 bg-white flex flex-col items-center max-md:items-start'>
  <!-- <Text type={'subtitle'} class='text-black' style={{ letterSpacing: '0.1em', opacity: 0.6 }}>Our Sister Schools</Text> -->
  <Text type={'h2'} class='text-black relative max-md:leading-[43px]'>
    <div class="my-div" set:html={headingHTML}></div>
  </Text>
  <div class='flex flex-row w-full justify-between mt-14 max-md:mt-0 max-md:flex-col text-black'>
    {treeData?.map((data:any)=>
    
    <a href={data?.link} class='flex-1 mt-8' target="_blank">
      <div class='w-[28vw] max-md:w-full max-md:h-[240px] h-[23vw] border border-red-500 rounded-lg flex justify-center items-center'>
        <img src={data?.image} alt={data?.imageAlt} class='w-[80%] max-md:w-[60%]' />
      </div>
      <Text type={'h4'} class={'mt-6 max-md:4'}>{data?.heading}</Text>
      <Text type={'regular'} class={'mt-2 w-[28vw] max-md:w-[95%]'}>{data?.description}</Text>
    </a>

    )}
    
  </div>
</div>