---
import Layout from "../layouts/Layout.astro";

import Text from "../components/system/Text.astro";
import BigAdmissionCTA from "../components/BigAdmissionCTA.astro";

import afterschoolBG from "../images/afterschool/afterschoolBG.png";

import Button from "../components/system/Button.astro";

import TopNavigationBar from "../components/TopNavigationBar.astro";
import AdmissionMarquee from "../components/campus/admissionMarquee.astro";

import "../global.css";
import GalleryMarquee from "../components/campus/galleryMarquee.astro";
import Footer from "../components/landingPage/Footer.astro";


import Constrain from "../components/system/Constrain.astro";

import aerospace from "../images/afterschool/aerospace.png";
import bharatanatyam from "../images/afterschool/bharatanatyam.png";
import german from "../images/afterschool/german.png";
import music from "../images/afterschool/music.png";
import robotics from "../images/afterschool/robotics.png";
import sports from "../images/afterschool/sports.png";
import { Image } from "astro:assets";
import { getEntries, getEntry, type CollectionEntry } from 'astro:content';
const { data } = await getEntry('afterschool', 'afterschool') as CollectionEntry<'afterschool'>

const afterSchool = data?.afterschool || []

const titleTag = data?.titleTag
const metaDescription = data?.metaDescription

import { marked } from 'marked'
const {
  titleHero,
  descriptionHero,
  imageHero,
  imageHeroAlt
} = data
const titleHeroParsed = marked(titleHero)
const descriptionHeroParsed = marked(descriptionHero)

---

<Layout 
  title={titleTag}
  description={metaDescription}
>
  <main class="flex flex-col h-screen w-screen relative bg-white">
    <div
      class="flex-1 main-container h-screen w-screen"
      style={{
        overflowY: "overlay",
        overflowX: "hidden",
      }}
    >
      <div class="flex flex-col bg-white">
        <TopNavigationBar />
        <div class="h-[95px] max-md:h-[130px]  w-full bg-black"></div>

        <div class='min-h-[450px] relative max-h-[350px] w-full max-md:min-h-[350px]'>
          <div class="absolute top-0 left-0 w-full h-full z-10">
            <Image 
              src={imageHero} 
              alt={imageHeroAlt}
              class='w-full h-full object-cover object-center'
              width={1440} height={600}
            />
          </div>
    
          <div class="absolute top-0 left-0 w-full h-full z-20" style={{
            background: `linear-gradient(180deg, rgba(18, 18, 18, 0.00) 3.1%, rgba(0, 0, 0, 0.60) 100%)`,
          }}>
          </div>
          <div class="absolute top-0 left-0 w-full h-full flex justify-end p-[30px] items-center flex-col z-30">
            <Text type={'h1Sm'} class='mt-14 text-center max-md:mt-10 z-30'>
              <div set:html={titleHeroParsed} />
            </Text>
            <Text type={'base'} class='mt-3 text-center max-md:w-[90%]' >
              <div set:html={descriptionHeroParsed} />
            </Text>
          </div>
        </div>

        <div
          class="w-full px-20 py-16 max-md:px-4 max-md:py-6"
          style={{
            background: "linear-gradient(180deg, #000000 0%, #142C1E 108.48%)",
          }}
        >
          <Constrain
            class="flex flex-row flex-wrap gap-5 justify-center items-center"
          >
            {
              afterSchool.map((activity) => (
                <div
                  style={{
                    background: "rgba(255, 255, 255, 0.04)",
                    border: "0.807503px solid rgba(255, 255, 255, 0.24)",
                    backdropFilter: "blur(16px)",
                    borderRadius: "24px",
                  }}
                  class="p-4 w-[400px] min-h-[500px]"
                >
                  <Image
                    class='w-full h-[320px] object-cover object-center rounded-2xl' 
                    src={activity.thumbnail}
                    width={400}
                    height={320}
                    alt={activity.thumbnailAlt}
                  />
                  <Text type="h4" class="mt-4">
                    {activity.title}
                  </Text>
                  <Text type="sm" class="mt-2 text-white/80">
                    {activity.description}
                  </Text>
                </div>
              ))
            }
          </Constrain>
        </div>
        <Footer />
      </div>
    </div>
  </main>
</Layout>
