---
import Layout from "../layouts/Layout.astro";
import TopNavigationBar from "../components/TopNavigationBar.astro";
import Text from "../components/system/Text.astro";
import { Image } from 'astro:assets';
import bgWhiteContourPattern from '../images/bgWhiteContourPattern.png'
import bigCTASplashVectorBG from '../images/bigCTASplashVectorBG.svg'


import Table from "../components/publicDisclosure/table.astro";

import safetyCertificateGAS from "../images/disclosure/gas/safetyCertificate.pdf";
import nocCBSEGAS from "../images/disclosure/gas/noc-cbse.pdf";
import recognitionCertificateGAS from "../images/disclosure/gas/Recognisation-from-DDPI-English.pdf";
import mandatoryPublicDesclosureGAS from "../images/disclosure/gas/mandatoryPublicDisclosure.pdf";
import fireSafetyGAS from "../images/disclosure/gas/fireSaftey.pdf";
import trustDeedGAS from "../images/disclosure/gas/trustDeed.pdf";
import cbseAffiliationGAS from "../images/disclosure/gas/cbseAffiliation.pdf";
import DDPIGAS from "../images/disclosure/gas/DDPI.pdf";
import waterAndSanitaryCertificateGAS from "../images/disclosure/gas/water-and-sanitary-certificateGAS.pdf";
import staffDetailsGas from "../images/disclosure/gas/staff-details.pdf";
import academicCalendarGas from "../images/disclosure/gas/AcademicCalendar.pdf";

import annualReportGAS from "../images/disclosure/gas/annualReport.pdf";
import schoolManagement from "../images/disclosure/gas/schoolManagement.pdf";
import selfCertificate from "../images/disclosure/gas/selfCertificate.pdf";
import textBookList from "../images/disclosure/gas/textBookList.pdf";
import transferCertificateSample from "../images/disclosure/gas/transferCertificateSample.pdf";

import safetyCertificateGAW from "../images/disclosure/gaw/safetyCertificate.jpg";
import staffDetailsGAW from "../images/disclosure/gaw/teaching&NonTeachingStaffDetails.pdf";
import nocCBSEGAW from "../images/disclosure/gaw/noc-cbse.pdf";
import mandatoryPublicDisclosureGAW from "../images/disclosure/gaw/mandatoryPublicDisclosure.pdf";
import primaryRecognitionCertificateGAW from "../images/disclosure/gaw/Primary-Recognition-certificate.pdf";
import trustDeedGAW from "../images/disclosure/gaw/TrustDeed_Amendment.pdf";
import CBSEAffiliationGAW from '../images/disclosure/gaw/CBSE-Affiliation.pdf';
import giftDeedGAW from '../images/disclosure/gaw/giftdeed.pdf';
import landCertificateGAW from '../images/disclosure/gaw/landCertificate.pdf'
import fireSafetyGAW from '../images/disclosure/gaw/Fire-Compliance-Certificate-Renewed.pdf';
import waterAndSanitaryCertificateGAW from '../images/disclosure/gaw/Drinking-Water-Sanitary-Whitefield.pdf';
// import recognitionCertificateGAW from '../images/disclosure/gaw/recognitionCertificate.pdf';

import academicCalendarGaw from "../images/disclosure/gaw/AcademicCalendar.pdf";

import annualReportGAW from "../images/disclosure/gaw/annualReport.pdf";
import bookListGAW from "../images/disclosure/gaw/booksList.pdf";
import classWiseStrengthGAW from "../images/disclosure/gaw/classWiseStrength.pdf";
import specialEducatorGAW from "../images/disclosure/gaw/specialEducatorDoc.pdf";
import transferCertificateGAW from "../images/disclosure/gaw/transferCertificate.pdf";
import youtubeLinkofInspectionSOPGAW from "../images/disclosure/gaw/youtubeLinkofInspectionSOP.pdf";
import recognitionCertificateGAW from "../images/disclosure/gaw/recognitionCertificate1.pdf";
import affidavitSMC from "../images/disclosure/gaw/affidavitSMC.pdf";
import feeStructureGAW from "../images/disclosure/gaw/feeStructure.pdf";
import affidavitNOCGAW from "../images/disclosure/gaw/affidavitNOC.pdf";
import selfCertificateGAW from "../images/disclosure/gaw/selfCertificate.pdf";
import last4YearsResultGAW from "../images/disclosure/gaw/last4YearsResult.pdf";
import floorPlanGAW from "../images/disclosure/gaw/floorPlan.pdf";
import affidavitNonProprietoryGAW from "../images/disclosure/gaw/affidavitNonProprietory.pdf";
import parentTeacherAssociationGAW from "../images/disclosure/gaw/parentTeacherAssociation.pdf";


import Footer from "../components/landingPage/Footer.astro";
import "../global.css";
import { getEntries, getCollection, type CollectionEntry } from 'astro:content';

export function getStaticPaths() {
  return [
    { params: { school: "whitefield" } },
    { params: { school: "sarjapur" } },
  ];
}

const { school } = Astro.params;
let allBlogs = await getCollection('blogs')

allBlogs = allBlogs.map((blog) => {
  return {
    ...blog,
    data: {
      ...blog.data,
      dateString: new Date(blog.data.publishedDate).toLocaleDateString('en-US', {
        year: 'numeric',
        month: 'short',
        day: 'numeric',
      })
    }
  }
}).sort((a, b) => {
  return new Date(b.data.publishedDate) - new Date(a.data.publishedDate)
})

// group blogs by 3 in each row
let blogRow = allBlogs.reduce((acc, curr, index) => {
  if (index % 3 === 0) {
    acc.push([curr])
  } else {
    acc[acc.length - 1].push(curr)
  }
  return acc
}, [])

---

<!-- grid gap-4 grid-cols-3 -->

<Layout title="Blogs | Best CBSE School in Bangalore | Glentree Academy School">
  <main class="flex flex-col relative text-black items-center">
    <TopNavigationBar />
    <div class="h-[130px] w-full bg-black"></div>
    <div class="w-full relative">
      <Image src={bgWhiteContourPattern} alt="background pattern" class="w-full absolute z-0 opacity-40" />
      <!-- <Image src={bigCTASplashVectorBG} alt="background pattern" class="absolute z-0 opacity-40 top-0 right-0 -scale-x-100" /> -->
      <div class="w-full z-10 relative flex flex-col items-center">
        <Text type="h1xs" class="mt-14 text-black max-md:mt-8 max-md:text-3xl">Blogs <span class='bg-accent2 text-white px-3 py-1 rounded-md'>Corner</span></Text>
        <Text type="base" class="mt-5 max-w-[700px] text-center max-md:p-4 max-md:text-sm max-md:mt-2">Explore insightful articles and updates showcasing educational knowledge, student development, and engaging content on holistic learning.</Text>
        
        <div class="w-full mt-12 max-md:mt-4 flex-row px-16 flex-wrap items-stretch grid gap-4 grid-cols-3 max-md:grid-cols-1 max-md:px-4">
          {allBlogs
            .map((blog => (
            <a href={"/blogs/" + blog.slug} class="flex-1 border border-transparent">
              <div class="bg-white p-4 flex gap-2 flex-row rounded-xl transition-all h-full border border-black/10 hover:border-black/30 hover:shadow-md hover:shadow-black/10 hover:border-b-accent2 hover:border-b-2">
                <div class="flex-1">
                  <Text type="xs" class="text-sm max-md:text-xs uppercase tracking-widest text-slate-500">{blog.data.dateString}</Text>
                  <div class="p-[6px] max-md:p-1"></div>
                  <Text type="h4" class=" text-[#222] text-xl font-bold font-sans max-md:text-base  max-md:!leading-tight">{blog.data.title}</Text>
                </div>
                <div class="flex-1 max-w-[30%] max-md:max-w-[40%] h-[130px] max-md:h-[90px]">
                  <img src={blog.data.thumbnail} class="w-full h-full object-cover object-center rounded-md" />
                </div>
              </div>
            </a>
          )))}
        </div>
      </div>
    </div>
  </main>
  <div class="text-white w-full mt-12">
    <Footer />
  </div>
</Layout>