---
import Layout from '../layouts/Layout.astro';

import Text from '../components/system/Text.astro';
import BigAdmissionCTA from '../components/BigAdmissionCTA.astro';

import Button from '../components/system/Button.astro';

import TopNavigationBar from '../components/TopNavigationBar.astro';
import Carousel from '../components/system/Carousel.astro'
import CarouselCard from '../components/system/CarouselCard.astro'

import AdmissionMarquee from '../components/campus/admissionMarquee.astro';

import NewsLetterForm from '../components/newsLetterForm.astro';

import '../global.css'
import GalleryMarquee from '../components/campus/galleryMarquee.astro';
import Footer from '../components/landingPage/Footer.astro';
import sowmia from '../images/campus/sowmia.png';
import galleryGAW1 from '../images/campus/gaw/gallery/1.jpeg'
import galleryGAW2 from '../images/campus/gaw/gallery/2.jpeg'
import galleryGAW3 from '../images/campus/gaw/gallery/3.jpeg'
import galleryGAW4 from '../images/campus/gaw/gallery/4.jpeg'


import galleryGAS1 from '../images/campus/gas/gallery/1.jpeg'
import galleryGAS2 from '../images/campus/gas/gallery/2.jpeg'
import galleryGAS3 from '../images/campus/gas/gallery/3.jpeg'
import galleryGAS4 from '../images/campus/gas/gallery/4.jpeg'
import galleryGAS5 from '../images/campus/gas/gallery/5.jpeg'

import principalGAW from '../images/campus/gaw/principal.png'
import principalGAS from '../images/campus/gas/principal.png'
import Constrain from '../components/system/Constrain.astro';
import Card from '../components/landingPage/Updates/Card.astro';
import arrow from '../icons/arrow.svg'

import GASupdate1 from '../images/campus/gas/updates/1.jpeg'
import GASupdate2 from '../images/campus/gas/updates/2.jpeg'
import GASupdate3 from '../images/campus/gas/updates/3.jpeg'
import GASupdate4 from '../images/campus/gas/updates/4.jpeg'
import GASupdate5 from '../images/campus/gas/updates/5.jpeg'
import GASupdate6 from '../images/campus/gas/updates/6.jpeg'
import GASupdate7 from '../images/campus/gas/updates/7.jpeg'
import GASupdate8 from '../images/campus/gas/updates/8.jpeg'
import GASupdate9 from '../images/campus/gas/updates/9.jpeg'
import GASupdate10 from '../images/campus/gas/updates/10.jpeg'
import GASupdate11 from '../images/campus/gas/updates/11.jpeg'
import GASupdate12 from '../images/campus/gas/updates/12.jpeg'



import GAWupdate1 from '../images/campus/gaw/updates/1.jpeg'
import GAWupdate2 from '../images/campus/gaw/updates/2.jpeg'
import GAWupdate3 from '../images/campus/gaw/updates/3.jpeg'
import GAWupdate4 from '../images/campus/gaw/updates/4.jpeg'
import GAWupdate8 from '../images/campus/gaw/updates/8.jpeg'
import GAWupdate11 from '../images/campus/gaw/updates/11.jpeg'
import GAWupdate12 from '../images/campus/gaw/updates/12.jpeg'
import GAWupdate15 from '../images/campus/gaw/updates/15.jpeg'
import GAWupdate16 from '../images/campus/gaw/updates/16.jpeg'
import GAWupdate18 from '../images/campus/gaw/updates/18.jpeg'

import { Image } from 'astro:assets';
import GAWupdate19 from '../images/campus/gaw/updates/19.jpeg'
import GAWupdate20 from '../images/campus/gaw/updates/20.jpeg'
import GAWupdate21 from '../images/campus/gaw/updates/21.jpeg'
import GAWupdate24 from '../images/campus/gaw/updates/24.jpeg'

import EarthLab from '../components/campus/earthLab.astro';



const allowedCampusNames = ['whitefield', 'sarjapur']
const { campusName = '', slug } = Astro.params
import { getEntries, getEntry, type CollectionEntry } from 'astro:content';
import ContactUs from '../components/campus/contactUs.astro';
import DeckCard from '../components/DeckCard.astro';
import DeckCardWithGallery from '../components/DeckCardWithGallery.astro';
import CampusFacilities from '../components/campusFacilities.astro';

const { data } = await getEntry('campus',campusName) as CollectionEntry<'campus'>

// export function getStaticPaths() {
//   return [
//     { params: { campusName: "whitefield" } },
//     { params: { campusName: "sarjapur" } },
//   ];
// }


if (!allowedCampusNames.includes(campusName)) {
  const error = await fetch(`${Astro.url}/404`)
  return new Response(error.body, {
    headers: error.headers,
    status: 404,
    statusText: 'Not Found'
  })
}

const campusData = {
  whitefield: {
    affiliationNo: '830349',
    title: 'Glentree Academy - Whitefield',
    description: 'Centrally located in the IT Corridor of Bengaluru',
    // bannerBG: schoolGAWBG,
    virtualCampusLink: 'https://www.google.com/maps/@12.9655167,77.7350299,3a,75y,331.03h,78.94t/data=!3m6!1e1!3m4!1sAF1QipP0Xik14EKwv1ca-GomAFI6LTFW--HUlNO-SRCR!2e10!7i10676!8i5338?hl=en-US&entry=ttu',
    galleryImages: [galleryGAW1, galleryGAW2, galleryGAW3, galleryGAW4],
    leaderMessage: [
      {
        image: principalGAW,
        name: 'Mrs. Singupilla Ratna Kumari',
        role: 'PRINCIPAL',
        body: 'At Glentree, we embrace the belief that learning is a lifelong process. We foster curiosity and encourage our students to be self-motivated learners. Our holistic approach focuses on developing their intelligence, emotions, and spirituality. By providing an enlightened and innovative learning environment, we empower them to become global citizens, offering transformative experiences and opportunities for personal growth.'
      }
    ],
    phoneNo: '+91 7899738130',
    workingHours: 'Monday to Saturday - 8:00 AM to 4:00 PM',
    address: 'Nallurhalli Rd, Palm Meadows, Nallurhalli, Whitefield, Bengaluru, Karnataka 560066',
    mapEmbedLink: 'https://www.google.com/maps/embed/v1/place?key=AIzaSyAIyVF44QhoXfwwKHLd1h3N49cQTHS0Yvw&q=Whitefield Glentree Academy, Whitefield, Bengaluru',
    mindlerLink: 'https://www.mindler.com/schools/GLENTREE2023'
  },
  sarjapur: {
    affiliationNo: '831088',
    title: 'Glentree Academy - Sarjapur',
    description: 'A sprawling green campus located within the heart of the city.',
    // bannerBG: schoolGASBG,
    virtualCampusLink: 'https://www.google.com/maps/@12.8977429,77.6849464,3a,75y,349.51h,82.52t/data=!3m8!1e1!3m6!1sAF1QipOr5WfWNbbfic6rOHNb2iIGHo6vd3F9sSIuKilE!2e10!3e11!6shttps:%2F%2Flh5.googleusercontent.com%2Fp%2FAF1QipOr5WfWNbbfic6rOHNb2iIGHo6vd3F9sSIuKilE%3Dw203-h100-k-no-pi-0-ya303.22165-ro0-fo100!7i10676!8i5338?hl=en-US&entry=ttu',
    galleryImages: [galleryGAS1, galleryGAS2, galleryGAS3, galleryGAS4, galleryGAS5],
    leaderMessage: [
      {
        image: principalGAS,
        name: 'Mrs. Nandita Sinha',
        role: 'PRINCIPAL',
        body: "Glentree's motto is \"Never stop learning because life never stops teaching.\" We aim to develop students' IQ, EQ, and SQ, encouraging self-learning and providing transformative experiences. We strive to mold late bloomers, mediocre, and gifted students to become global citizens through an innovative and enlightened education."
      }
    ],
    phoneNo: '+91 9632104368',
    workingHours: 'Monday to Saturday - 8:00 AM to 4:00 PM',
    address: 'No.36/5, Halanayakanahalli,Varthur Hobli Bengaluru East Taluk,Bengaluru, Karnataka 560035',
    mapEmbedLink: 'https://www.google.com/maps/embed/v1/place?key=AIzaSyAIyVF44QhoXfwwKHLd1h3N49cQTHS0Yvw&q=Sarjapur Glentree Academy, Sarjapur, Bengaluru',
    mindlerLink: 'https://www.mindler.com/schools/GLENTREESARJAP'
  },
}

const updateImagesGAS: {title: string, image: string}[] = [
  {title: 'Quit India Movement', image: GASupdate10},
  {title: 'National Handloom Day', image: GASupdate9},
  {title: 'Independence Day', image: GASupdate8},
  {title: 'Zero Shadow Day', image: GASupdate12},
  {title: 'Weightless Wednesday', image: GASupdate11},
  {title: 'Animal and their young ones', image: GASupdate1},
  {title: 'Field Trip', image: GASupdate2},
  {title: 'Mother\'s Day', image: GASupdate3},
  {title: 'Food Chain', image: GASupdate4},
  {title: 'Plantation Drive', image: GASupdate5},
  {title: 'Math Lab', image: GASupdate6},
  {title: 'Van Mohtsav Special Assembly', image: GASupdate7},

]
const updateImagesGAW: {title: string, image: string}[] = [
  {title: 'Taekwondo', image: GAWupdate24},
  {title: 'Football Match', image: GAWupdate19},
  {title: 'Independence Day', image: GAWupdate21},
  {title: 'Football Match', image: GAWupdate20},
  {title: 'World Population Assembly', image: GAWupdate1},
  {title: 'Cubbon Park: Field Trip', image: GAWupdate2},
  {title: 'Debate and Quizzing', image: GAWupdate3},
  {title: 'Drawing Competition', image: GAWupdate4},
  // {title: 'Drawing Competition', image: GAWupdate5},
  // {title: 'Learning Addition using Bindi', image: GAWupdate6},
  // {title: 'Making a Sand Clock', image: GAWupdate7},
  {title: 'Friendship Day', image: GAWupdate8},
  // {title: 'Presenting our SOF Olympiad Winners', image: GAWupdate9},
  // {title: 'Van Mahotsav', image: GAWupdate10},
  {title: 'A Day out with Mothers', image: GAWupdate11},
  {title: 'A Day out with Mothers: Painting', image: GAWupdate12},
  // {title: 'Mother\'s Day', image: GAWupdate13},
  {title: 'Earth Lab', image: GAWupdate15},
  {title: 'Science Experiment', image: GAWupdate16},
  // {title: 'World Yoga Day', image: GAWupdate17},
  {title: 'Unveiling of the Earth Lab', image: GAWupdate18},
]

const updateImages = campusName === 'whitefield' ? updateImagesGAW : updateImagesGAS

const campus = campusData[campusName]

const currentPath = Astro.url.pathname
---

{allowedCampusNames.includes(campusName) && (
  <Layout title="Welcome to Astro.">
    <main class="flex flex-col h-screen w-screen relative bg-white">
      <div 
        class="flex-1 main-container h-screen w-screen"
        style={{
          overflowY: 'overlay',
          overflowX: 'hidden',
        }}
      >
        <div class='flex flex-col bg-white'>
          <TopNavigationBar />
          <div class='h-[88px] w-full bg-black'>
          </div>
          <div class='min-h-[512px] max-h-[512px] w-full flex justify-center bg-cover bg-center items-center flex-col max-md:min-h-[350px]' style={{
            backgroundImage: `linear-gradient(180deg, rgba(18, 18, 18, 0) -21.78%, rgba(0, 0, 0, 0.6) 68.07%), url(${data.bannerBg})`,
          }}>
            <Text type={'h2'} class='mt-14 max-md:mt-10 text-center'>{data.title}</Text>
            <Text type={'base'} class='mt-3 text-center max-md:w-[90%]' >{data.description}</Text>
            <Text type={'sm'} class='mt-3 text-center max-md:w-[90%]' >Permanent Affiliation No: {data.affiliationNo}</Text>  
          </div>

          <AdmissionMarquee />
  
          <div 
            style={{
              background: 'linear-gradient(180deg, #000000 0%, #142C1E 100%)',
            }}
            class="flex flex-col items-center py-14 max-md:py-12"
          >

          <div class='flex flex-row w-full items-center max-md:ml-0 max-md:px-6 box-border daisy daisy-2'>
            <div class='flex-1 bg-white/30 mr-6 max-md:mr-4 max-md:hidden' style={{ height: '1px' }}></div>
            <Text type={"subtitle"} class='text-center max-md:w-[100%] text-white' style={{ opacity: 0.8 }}> What's Happening at Glentree</Text>
            <div class='flex-1 bg-white/30 ml-6 max-md:ml-4 max-md:hidden' style={{ height: '1px' }}></div>
          </div>

            <div class="w-full relative mt-8">
              <div class="w-screen absolute h-full top-0 left-0 z-50 flex flex-row items-center p-10 justify-between pointer-events-none">
                <div class="w-10 h-10 pointer-events-auto cursor-pointer" id="prev-button">
                  <Image src={arrow} alt="previous button" class="w-full h-full -scale-100" />
                </div>
                <div class="w-10 h-10 pointer-events-auto cursor-pointer" id="next-button">
                  <Image src={arrow} alt="previous button" class="w-full h-full" />
                </div>
              </div>
              <div id="scroll-container" class="h-scroll relative w-screen flex flex-row h-min overflow-scroll no-scrollbar scroll-snap-news-carousel px-6 mb-0" style={{
                overflowX: 'scroll',
                overflowY: 'hidden',
                scrollSnapType: 'x mandatory',
              }}>
                {data.showcase.map((card, index) => (
                  <Card title={card.title} image={card.image} class={`scroll-card daisy daisy-${index + 1} daisy-y-1 daisy-debug m-auto min-w-[39.813rem] max-sm:min-w-[300px]`}  />
                ))}
              </div>
            </div>
          </div>

          <NewsLetterForm campusName={campusName} />
  
          <a href={data.virtualCampusLink} target='_blank'>
            <Button class='max-md:block hidden max-md:mt-2 max-md:ml-4'>Launch Virtual Campus Tour</Button>
          </a>

        <div class='text-black pl-20 pr-12 pt-16 pb-0 max-md:p-4 max-md:py-8 max-md:pb-2'>
          <Constrain class=' flex items-center justify-between max-md:flex-col max-md:items-start'>
            <div>
              <Text type={'subtitle'} style={{ color: 'rgba(18, 18, 18, 0.6)' }}>SNAPSHOTS</Text>
              <Text type={'h2'}>Around the <span class='text-accent'>Campus</span></Text>
            </div>
            <a href={data.virtualCampusLink} target='_blank'>
              <Button class='max-md:hidden'>Launch Virtual Campus Tour</Button>
            </a>
          </Constrain>

          <CampusFacilities currentLink={currentPath} campusName={campusName} />

        </div>

          

  
          <div class='w-full mt-20 max-md:mt-8 mb-0 p-20 max-md:p-4 max-md:py-8 max-md:mb-0' style={{
            background: 'linear-gradient(180deg, #3C674F 0%, #23623F 51.08%, #0A5E2F 100%)',
          }}>
            <Constrain>
              <Text type={'subtitle'}>OUR LEADER</Text>
              <Text type={'h2'} class={'mt-3 leading-9'}>From the Principal</Text>
              {campus.leaderMessage && (campus.leaderMessage.map((message => (
                <div class='flex flex-row max-md:flex-col max-md:items-start mt-12 items-center'>
                  <Image src={message.image} alt="leader image"  class='w-[360px] h-[322px] max-md:w-full max-md:h-auto max-md:max-w-[400px] object-cover rounded-3xl' />
                  <div class='ml-16 max-md:ml-0 max-md:mt-4'>
                    <Text type={'regular'} class='uppercase text-white/80'>
                      {message.role}
                    </Text>
                    <Text type={'lg'} class='mt-1'>
                      {message.name}
                    </Text>
                    <Text type={'base'} class='mt-4 leading-relaxed'>
                      {message.body}
                    </Text>
                  </div>
                </div>
              )))
              )}
            </Constrain>
  
          </div>
          {campusName === 'whitefield' && (
            <EarthLab />
          )}

        
          <BigAdmissionCTA />
          <ContactUs campus={campus} />
          <Footer />
        </div>
      </div>
    </main>
  </Layout>
)}


<script>
  const prevButton = document.querySelector('#prev-button')
  const nextButton = document.querySelector('#next-button')

  const scrollContainer = document.querySelector('#scroll-container')


  if (prevButton && nextButton && scrollContainer) {
    const scroll = (scrollOffset: number) => {
      scrollContainer.scrollBy({
        top: 0,
        left: scrollOffset,
        behavior: 'smooth'
      })
    }
  
    const scrollOffset = document.querySelector('.scroll-card')?.offsetWidth
  
    prevButton.addEventListener('click', () => {
      scroll(scrollOffset * -1)
    })
  
    nextButton.addEventListener('click', () => {
      scroll(scrollOffset)
    })
  }
</script>