---
import Layout from '../layouts/Layout.astro';

import Hero from '../components/Hero.astro';
import TopNavigationBar from '../components/TopNavigationBar.astro';

import Updates from '../components/landingPage/Updates/index.astro'
import LFL from '../components/landingPage/LFL.astro'
import WhyGlentree from '../components/register/whyGlentree.astro';
import Campus from '../components/register/campus.astro';
import Collapsible from '../components/admissions/Collapsible.astro';

import Testimonial from '../components/landingPage/Testimonial.astro';
import BigAdmissionCTA from '../components/BigAdmissionCTA.astro';

import '../global.css'

import '@fontsource/nunito-sans';
import GlentreeFamily from '../components/landingPage/GlentreeFamily.astro';
import Footer from '../components/landingPage/Footer.astro';
import Text from '../components/system/Text.astro';
import YoutubeEmbed from '../components/YoutubeEmbed.astro';
import psjaAward from '../images/psjaAward.png'
import meritAwards from '../images/meritAwards.png'
import VittalFounderDesk from '../components/vittalFounderDesk.astro';
import { Image } from 'astro:assets';
import AdmissionMarquee from '../components/campus/admissionMarquee.astro'

import PrePrimaryBG from '../images/curriculum/prePrimary.png';
import PrimaryBG from '../images/curriculum/primary.png';
import MiddleAndHighBG from '../images/curriculum/middle&High.png';
import Constrain from '../components/system/Constrain.astro';
import overviewRegisterPageBG from '../images/overviewRegisterPageBG.png'
import RegisterForm from '../components/register/registerForm.astro'
import Slide from '../components/system/Slide.astro';
import awards from "../images/awards.svg"

import slide1 from "../images/slides/1.jpg";
import slide1MB from "../images/slides/1-mb.jpeg";
import slide2 from "../images/slides/2.jpeg";
import slide2MB from "../images/slides/2-mb.jpeg";



const academics = [
  {
    title: 'Pre-Primary',
    grade: 'NUR - UKG',
    points: [
      [
        'Montessori and Waldorf methodologies',
        'Activity based learning',
        'Language, Numeracy, and Theme',
      ],
      [
        'Value Education',
        'Reading Program',
        'Montessori Lab'
      ]
    ],
    image: PrePrimaryBG,
    background: '#0E6526',
    backgroundContent: '#0A5E2F',
    opacity: 1,
    link: 'https://glentreeacademy.com/curriculum/pre-primary'
  },
  {
    title: 'Primary',
    image: PrimaryBG,
    link: 'https://glentreeacademy.com/curriculum/primary',
    background: '#C07C47',
    grade: 'Grade I-IV',
    points: [                
      [
        "Exploring Through Discovery",
        "Multi-sensory Activities",
        "Experiential Learning",
        "Inter Disciplinary Approach",
        "Language Arts (English, Hindi, Kannada",
        "Math, Science and ICT"
      ],  
      [
        "STEM Lab",
        "R.E.A.D Program",
        "“Connecting the Dots” Program",
        "Regular Assessments",
        "Bi-annual Exams"
      ],
    ] 
  },
  {
    title: 'Middle & High School',
    image: MiddleAndHighBG,
    link: 'https://glentreeacademy.com/curriculum/middle-and-high',
    background: '#6F322E',
    grade: 'Grade V-X',
    points: [
      [               
        "Creative thinking & Research",
        "Community Learning",
        "Language Arts (English, Hindi, Kannada)",
        "Math, Science and ICT",
      ],
      [
        "Social Studies",
        "STEM Lab",
        "“Connecting the Dots” Program",
        "Regular Assessments",
        "Bi-annual Exams",
      ]
    ]

  },
]

---

<Layout title="Welcome to Astro.">
  <main class="flex flex-col min-h-screen max-md:h-auto w-screen relative">
    <div 
      class="flex-1 flex flex-col main-container max-md:h-auto min-h-screen w-screen"
      id="scroll-area"
      style={{
        overflowY: 'overlay',
        overflowX: 'hidden',
      }}
    >
    
      <div class='flex flex-col max-md:h-auto min-h-screen'>
        <TopNavigationBar hideMenu />
        <div class="h-[88px] w-full bg-black"></div>
        <div class="w-full flex-1 h-full relative p-12 flex flex-row max-md:flex-col justify-between items-center max-md:p-8 max-md:px-4">
          <div class="w-full h-full absolute top-0 left-0">
            <Slide
              slides={[
                { image_desktop: slide1.src, image_mobile: slide1MB.src, position: 'center' },
                { image_desktop: slide2.src, image_mobile: slide2MB.src, position: 'center' }
              ]}
              id="resiter-page-hero"
            />
          </div>
          <div 
            class="
              absolute w-full h-full z-10 top-0 left-0
              bg-[linear-gradient(183deg,_rgba(0,_66,_29,_0.00)_31.29%,_#000_97.19%)]
              max-md:bg-[linear-gradient(321deg,_rgba(0,_66,_29,_0.10)_-108.71%,_#000_101.19%)]
            "
            style={{
              // background: 'linear-gradient(183deg, rgba(0, 66, 29, 0.00) 31.29%, #000 97.19%)',
              // 'linear-gradient(321deg, rgba(0, 66, 29, 0.10) -2.71%, #000 101.19%)'
            }}
          />
          <div class="h-full flex flex-row items-end relative z-20 self-end max-md:self-start">
            <div class="flex flex-col max-md:items-center">
              <Text type="h2" class='text-white'>Glentree Academy</Text>
              <div class="flex flex-row text-white mt-4">
                <div class="w-[115px] py-1 flex justify-center bg-accent rounded-tl-md rounded-bl-md">
                  <Text type="h4" class="text-[21px] max-md:text-[16px] tracking-wide">Experience</Text>
                </div>
                <div class="w-[115px] py-1 flex justify-center bg-green-600">
                  <Text type="h4" class="text-[21px] max-md:text-[16px] tracking-wide">Evolve</Text>
                </div>
                <div class="w-[115px] py-1 flex justify-center bg-accent3 rounded-tr-md rounded-br-md">
                  <Text type="h4" class="text-[21px] max-md:text-[16px] tracking-wide">Excel</Text>
                </div>
              </div>
              <div class="pt-[36px] max-md:pt-[24px]" />
              <div class="w-[382px] max-md:w-full">
                <Image src={awards} class="w-full" alt="Glentree Rank 1: " />
              </div>
            </div>
          </div>
          <div class="max-md:py-4" />
          <RegisterForm />
        </div>
        <AdmissionMarquee />
      </div>



    <div class='bg-white relative p-20 max-md:p-5 text-black'>
      <Image src={overviewRegisterPageBG} class='w-screen absolute top-0 left-0 -z-1' role="presentation" alt="decoration" />
      <Constrain>
        <div class='relative z-10 flex flex-col items-center'>
          <!-- <Text type='subtitle' style={{ letterSpacing: '0.1em', opacity: 0.8 }}>Locate Us</Text> -->
          <Text type='h2' class='mt-3'>Glentree{' '}<span class='text-accent2'>Overview</span></Text>
          <Text type='base' class='mt-3 max-w-[680px] max-md:w-full text-center'>
            At Glentree Academy, each experience becomes a lesson, and every challenge transforms into an opportunity in a student's journey.
          </Text>
          <div class="w-[870px] max-md:w-full h-[537px] flex flex-col mt-8">
            <div class="flex flex-row flex-1 border-b border-black/20">
              <div class="flex-1 flex px-2 flex-col items-center justify-center border-r border-black/20">
                <Text type="h2" class="text-[#6F322E]">K-12</Text>
                <Text type='base' class='mt-3 font-semibold text-center'>
                  Grades Offered
                </Text>
              </div>
              <div class="flex-1 flex px-2 items-center justify-center flex-col border-r border-black/20">
                <Text type="h2" class="text-black flex items-start">
                  1
                </Text>
                <Text type='base' class='mt-3 font-semibold text-center'>
                  Vision
                </Text>
              </div>
              <div class="flex-1 flex px-2 items-center justify-center flex-col">
                <Text type="h2" class="text-[#6F322E]">23</Text>
                <Text type='base' class='mt-3 font-semibold text-center'>
                  Clubs Offered
                </Text>
              </div>
            </div>
            <div class="flex flex-row flex-1 border-b border-black/20">
              <div class="flex-1 flex px-2 items-center justify-center flex-col border-r border-black/20">
                <Text type="h2" class="text-black">40</Text>
                <Text type='base' class='mt-3 font-semibold text-center'>
                  Activities Offered
                </Text>
              </div>
              <div class="flex-1 flex px-2 items-center justify-center flex-col border-r border-black/20">
                <Text type="h2" class="text-[#6F322E]">50</Text>
                <Text type='base' class='mt-3 font-semibold text-center'>
                  Students Club
                </Text>
                
              </div>
              <div class="flex-1 flex px-2 items-center justify-center flex-col">
                <Text type="h2" class="text-black flex flex-row items-start">
                  1<span class="text-3xl leading-[0.75] -tracking-normal">st</span>
                </Text>
                <Text type='base' class='mt-3 font-semibold text-center'>
                  Emerging School
                </Text>
              </div>
            </div>
            <div class="flex flex-row flex-1">
              <div class="flex-1 flex px-2 items-center justify-center flex-col border-r border-black/20">
                <Text type="h2" class="text-[#6F322E]">3</Text>
                <Text type='base' class='mt-3 font-semibold text-center'>
                  Campuses
                </Text>
              </div>
              <div class="flex-1 flex px-2 items-center justify-center flex-col border-r border-black/20">
                <Text type="h2" class="text-black">800</Text>
                <Text type='base' class='mt-3 font-semibold text-center'>
                  Students
                </Text>
              </div>
              <div class="flex-1 flex px-2 items-center justify-center flex-col">
                <Text type="h2" class="text-[#6F322E]">8</Text>
                <Text type='base' class='mt-3 font-semibold text-center'>
                  Years of Excellence
                </Text>
              </div>
            </div>
          </div>
        </div>
      </Constrain>
    </div>
      
    <WhyGlentree />

    <div class='w-full p-14 text-black bg-white flex flex-col items-center max-md:p-6'>
      <Text type={'subtitle'} class='text-black/80'>ENRICHING CURRICULUM</Text>
      <Text type={'h2'} class='mt-2'>Academic{' '}<span class='text-accent2'>Landscape</span></Text>
      <div class='w-full flex-col flex items-center rounded-2xl max-md:rounded-2xl overflow-hidden mt-8 max-w-[1196px]'>
        {academics.map((academic) => (
          <div class='flex flex-row w-full mb-[2px] max-md:flex-col max-md:rounded-xl overflow-hidden max-md:mb-4'>
            <div
              class='w-full flex-1 max-w-[350px] max-md:max-w-[1000px] min-h-[200px] mr-[1px] flex flex-col text-white items-center justify-center relative bg-cover no-repeat'
              style={{
                backgroundImage: `url(${academic.image})`
            }}>
              <div class='w-full h-full mix-blend-multiply absolute z-0' style={{
                background: academic.background,
                opacity: academic.opacity ? academic.opacity : 1
              }}>
              </div>
              <div class='relative z-10 text-center'>

                <Text type={'h4'}>{academic.title}</Text>
                <Text type={'h4'}>{academic.grade}</Text>
              </div>
            </div>
            <div
              style={{
                background: academic.backgroundContent ? academic.backgroundContent : academic.background,
                opacity: academic.opacity ? academic.opacity : 1
              }}
              class='w-full flex-1 max-w-[845px] max-md:max-w-[1000px] min-h-[200px] mr-[1px] flex flex-row max-md:flex-col max-md:items-start max-md:p-8 max-md:pt-4 items-center justify-center p-12 py-4'>
              <Text type={'regular'} class='mt-3 font-[500] flex-1'>
                <ul class="list-disc text-white">
                  {academic.points[0].map((point) => (
                    <li>{point}</li>
                  ))}
                </ul>
              </Text>
              <Text type={'regular'} class='mt-3 font-[500] flex-1 max-md:mt-0'>
                <ul class="list-disc text-white">
                  {academic.points[1].map((point) => (
                    <li>{point}</li>
                  ))}
                </ul>
              </Text>
            </div>
          </div>
        ))}
      </div>
    </div>

    <!-- <LFL /> -->


    <Campus />

      



    <Testimonial />

    <div class="w-full items-center flex flex-col bg-white">
      <div class="p-4" />
      <Text type={'subtitle'} class='text-black/60'>THINGS TO NOTE</Text>
      <Text type={'h2'} class='mt-2 text-black'>FAQs</Text>
      <div class="p-4" />
      <div class="flex flex-col items-center gap-5 ">
        <Collapsible title='Transportation' class='mb-5' collapseGroup='collapsible'>
          <ul class="list-disc marker:text-2xl relative left-5 w-[95%]">
            <li>
              <Text type={'regular'}>Students using the school bus must be at the bus stop at least 5 minutes before the scheduled arrival time.</Text>
            </li>
            <li>
              <Text type={'regular'}>The bus will stop only at the designated pick-up point.</Text>
            </li>
            <li>
              <Text type={'regular'}>Students must use their assigned bus and bus stop, and any changes require prior written permission from the school authorities.</Text>
            </li>
            <li>
              <Text type={'regular'}>Pre-Primary and Primary children will only be released to their parent/guardian. If the parent/guardian is not present at the pick-up point, the child will be returned to the school, and parents must collect them directly from the school.</Text>
            </li>
            <li>
              <Text type={'regular'}>Fees paid are non-refundable.</Text>
            </li>
          </ul>
  
          <div>
  
          </div>
        </Collapsible>
        <Collapsible title='B' class='mb-5' collapseGroup='collapsible'>
          <ul class="list-disc marker:text-2xl relative left-5 w-[95%]">
            <li>
              <Text type={'regular'}>Students using the school bus must be at the bus stop at least 5 minutes before the scheduled arrival time.</Text>
            </li>
            <li>
              <Text type={'regular'}>The bus will stop only at the designated pick-up point.</Text>
            </li>
            <li>
              <Text type={'regular'}>Students must use their assigned bus and bus stop, and any changes require prior written permission from the school authorities.</Text>
            </li>
            <li>
              <Text type={'regular'}>Pre-Primary and Primary children will only be released to their parent/guardian. If the parent/guardian is not present at the pick-up point, the child will be returned to the school, and parents must collect them directly from the school.</Text>
            </li>
            <li>
              <Text type={'regular'}>Fees paid are non-refundable.</Text>
            </li>
          </ul>
  
          <div>
  
          </div>
        </Collapsible>
      </div>
      <div class="p-3" />
    </div>


    

    <!-- <BigAdmissionCTA /> -->

    <!-- <GlentreeFamily /> -->
    <Footer />
  </div>

  </main>
</Layout>

<style>
  .float{
    position:fixed;
    /* background-color:#25d366; */
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    /* box-shadow: 2px 2px 3px #999; */
    z-index:100;
  }

  .float > div {
    opacity: 0;
    transition: 0.6s all ease-in-out
  }
  .float a:hover ~ div {
    opacity: 1;
  }

.my-float{
	margin-top:16px;
}
</style>

<script>
  // @@ts-ignore

  // dev script temp

  import collapsible, { openCollapsible } from '../components/admissions/collapsible'
  collapsible('.collapsible', null)

  const mainContainer = document.querySelector('.main-container')
  if (mainContainer) {
    // scroll to end 
    // mainContainer.scrollTo(0, mainContainer.scrollHeight)
  }

</script>
