---
import Text from '../system/Text.astro'
import campusSectionPatternBG from '../../images/campusSectionPatternBG.png'
import sarjapurCampus from '../../images/sarjapurCampus.webp'
import whitefieldCampus from '../../images/whitefieldCampus.webp'
import bannerghattaCampus from '../../images/campus/gab/slides/campusSm.webp'
import CampusCard from './campusCard.astro';
import Constrain from '../system/Constrain.astro';
import { Image } from 'astro:assets';
import {marked} from 'marked'

const {campus} = Astro.props;
const campusCard = campus?.campusCards
const campusTitleHtml =  marked.parse(campus.title).replaceAll('&lt;','<').replaceAll('&gt;','>')


---
<div class='bg-white relative p-20 py-20 max-md:p-5'>
  <!-- <Image src={campusSectionPatternBG} class='w-screen absolute top-0 left-0 -z-1' role="presentation" alt="decoration" /> -->
  <Constrain>
    <div class='relative z-10'>
      <Text type='subtitle' class='text-center text-black/60' style={{ letterSpacing: '0.1em' }}>{campus?.subtitle}</Text>
      <Text type='h2' class='text-center text-black mt-3'><div class="my-div" set:html={campusTitleHtml}></div></Text>
      <div class='grid grid-cols-3 gap-8 max-md:gap-4 max-md:grid-rows-2 max-md:grid-cols-1 justify-between mt-8'>

        {
          campusCard?.map((data,i)=>
          {if(!data.ribbon){
            return( <CampusCard alt={data?.imageAlt} link={data.imagelink} ribbonHeader={data?.ribbonHeader}  grade11Ribbon image={data.image} class='text-white text-left border-[2px] border-[#D1E0D3]' name={data.imageTitle} desc={data.imageDescription} />)}
          else{
            return (
            <CampusCard alt={data?.imageAlt} link={data.imagelink}  ribbonHeader={data?.ribbonHeader}  upcomingRibbon image={data.image} class='text-white text-left border-[2px] border-[#D1E0D3]' name={data.imageTitle} desc={data.imageDescription} />
            )}})}
        
      </div>
    </Constrain>
</div>